<section class="surface p-3">
  <h1 class="h4 mb-3">{{ 'CHANGE_PWD_TITLE' | translate }}</h1>
  @if (saved()) {
    <div class="alert alert-success">{{ 'CHANGE_PWD_SAVED' | translate }}</div>
  }
  <form [formGroup]="form" (ngSubmit)="submit()" class="row g-3">
    <div class="col-12">
      <app-form-field
        #currentPasswordField
        label="CHANGE_PWD_CURRENT"
        [required]="true"
        [control]="form.controls.currentPassword">
        <app-input
          [id]="currentPasswordField.id"
          type="password"
          formControlName="currentPassword"
          [placeholder]="'CHANGE_PWD_CURRENT' | translate">
        </app-input>
      </app-form-field>
    </div>
    <div class="col-md-6">
      <app-form-field
        #newPasswordField
        label="CHANGE_PWD_NEW"
        [required]="true"
        [control]="form.controls.newPassword">
        <app-input
          [id]="newPasswordField.id"
          type="password"
          formControlName="newPassword"
          [placeholder]="'CHANGE_PWD_NEW' | translate">
        </app-input>
      </app-form-field>
    </div>
    <div class="col-md-6">
      <app-form-field
        #confirmPasswordField
        label="CHANGE_PWD_CONFIRM"
        [required]="true"
        [control]="form.controls.confirmPassword">
        <app-input
          [id]="confirmPasswordField.id"
          type="password"
          formControlName="confirmPassword"
          [placeholder]="'CHANGE_PWD_CONFIRM' | translate">
        </app-input>
      </app-form-field>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        {{ 'CHANGE_PWD_SAVE' | translate }}
      </button>
    </div>
  </form>
</section>
