    <article class="surface p-3">
      <div class="d-flex justify-content-between gap-2 mb-3">
        <h1 class="h3">{{ employee.firstName }} {{ employee.lastName }}</h1>
        <div>
          <a *appPermission="{ module: 'employees', action: 'update' }" class="btn btn-outline-primary me-2" [routerLink]="['/ems/admin/employees', employee.id, 'edit']">{{ 'EMP_DETAIL_EDIT' | translate }}</a>
          <button *appPermission="{ module: 'employees', action: 'delete' }" class="btn btn-outline-danger" type="button" (click)="delete()">{{ 'EMP_DETAIL_DELETE' | translate }}</button>
        </div>
      </div>
      <dl class="row">
        <dt class="col-sm-3">{{ 'EMP_DETAIL_CODE' | translate }}</dt><dd class="col-sm-9">{{ employee.employeeCode }}</dd>
        <dt class="col-sm-3">{{ 'EMP_DETAIL_EMAIL' | translate }}</dt><dd class="col-sm-9">{{ employee.email }}</dd>
        <dt class="col-sm-3">{{ 'EMP_DETAIL_PHONE' | translate }}</dt><dd class="col-sm-9">{{ employee.phone | phoneFormat }}</dd>
        <dt class="col-sm-3">{{ 'EMP_DETAIL_DEPARTMENT' | translate }}</dt><dd class="col-sm-9">{{ employee.department }}</dd>
        <dt class="col-sm-3">{{ 'EMP_DETAIL_DESIGNATION' | translate }}</dt><dd class="col-sm-9">{{ employee.designation }}</dd>
        <dt class="col-sm-3">{{ 'EMP_DETAIL_STATUS' | translate }}</dt><dd class="col-sm-9">{{ employee.status }}</dd>
      </dl>
    </article>
  
