    <h1 class="h3">{{ 'FORGOT_PWD_TITLE' | translate }}</h1>
    @if (sent()) {
      <div class="alert alert-success">{{ 'FORGOT_PWD_SUCCESS' | translate }}</div>
    }
    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-form-field
        #emailField
        label="FORGOT_PWD_EMAIL"
        [required]="true"
        [control]="form.controls.email">
        <app-input
          [id]="emailField.id"
          type="email"
          formControlName="email">
        </app-input>
      </app-form-field>
      <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">
        {{ 'FORGOT_PWD_SUBMIT' | translate }}
      </button>
      <a class="btn btn-link w-100 mt-2" routerLink="/ems/auth/login">{{ 'FORGOT_PWD_BACK' | translate }}</a>
    </form>
  
